* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0;
  list-style-type: none;
}

.item {
  border-radius: 8px;
  padding: 16px;
  width: 392px;
  height: 264px;
  background-color: #f6f6fe;
}

.item>h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.item>ul {
  padding: 0;
  margin: 0;
}

.item>ul>li:not(:last-child) {
  margin-bottom: 8px;
}

.item>ul>li {
  list-style: none;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  align-content: center;
  padding-inline-start: 8px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  max-width: 1128px;
  gap: 48px 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery-item-img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

#name-input {
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-inline-start: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;
}

#name-input::placeholder {
  color: #2e2f42;
}

#name-input+h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form {
  display: inline-flex;
  flex-direction: column;
}

.login-form>label {
  display: inline-flex;

  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form>label>input {
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-inline-start: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.login-form>button {
  margin-top: 16px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  cursor: pointer;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
}


.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background: #4e75ff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}

.widget>p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}